tablesoft-net/TableSoft/TableSoft/Connected Services/TareaPredeterminadaWS/TareaPredeterminadaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.tablesoft.pucp.edu.pe/" targetNamespace="http://services.tablesoft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarTareaPredeterminada" type="tns:actualizarTareaPredeterminada" />
  <xs:element name="actualizarTareaPredeterminadaResponse" type="tns:actualizarTareaPredeterminadaResponse" />
  <xs:element name="eliminarTareaPredeterminada" type="tns:eliminarTareaPredeterminada" />
  <xs:element name="eliminarTareaPredeterminadaResponse" type="tns:eliminarTareaPredeterminadaResponse" />
  <xs:element name="insertarTareaPredeterminada" type="tns:insertarTareaPredeterminada" />
  <xs:element name="insertarTareaPredeterminadaResponse" type="tns:insertarTareaPredeterminadaResponse" />
  <xs:element name="listarTareasPredeterminadasPorCategoria" type="tns:listarTareasPredeterminadasPorCategoria" />
  <xs:element name="listarTareasPredeterminadasPorCategoriaResponse" type="tns:listarTareasPredeterminadasPorCategoriaResponse" />
  <xs:complexType name="actualizarTareaPredeterminada">
    <xs:sequence>
      <xs:element minOccurs="0" name="objTareaPredeterminada" type="tns:tareaPredeterminada" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tareaPredeterminada">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:string" />
      <xs:element name="tareaPredeterminadaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarTareaPredeterminadaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarTareaPredeterminada">
    <xs:sequence>
      <xs:element minOccurs="0" name="objTareaPredeterminada" type="tns:tareaPredeterminada" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarTareaPredeterminadaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTareasPredeterminadasPorCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="objCategoria" type="tns:categoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element name="categoriaId" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tareasPredeterminadas" nillable="true" type="tns:tareaPredeterminada" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTareasPredeterminadasPorCategoriaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tareaPredeterminada" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarTareaPredeterminada">
    <xs:sequence>
      <xs:element minOccurs="0" name="objTareaPredeterminada" type="tns:tareaPredeterminada" />
      <xs:element minOccurs="0" name="objCategoria" type="tns:categoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarTareaPredeterminadaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>