tablesoft-net/TableSoft/TableSoft/Connected Services/TareaWS/TareaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.tablesoft.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="TareaWS" targetNamespace="http://services.tablesoft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://23.22.97.25:8080/TableSoftServicesTest/TareaWS?xsd=1" namespace="http://services.tablesoft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="eliminarTarea">
    <part name="parameters" element="tns:eliminarTarea" />
  </message>
  <message name="eliminarTareaResponse">
    <part name="parameters" element="tns:eliminarTareaResponse" />
  </message>
  <message name="actualizarTarea">
    <part name="parameters" element="tns:actualizarTarea" />
  </message>
  <message name="actualizarTareaResponse">
    <part name="parameters" element="tns:actualizarTareaResponse" />
  </message>
  <message name="insertarTarea">
    <part name="parameters" element="tns:insertarTarea" />
  </message>
  <message name="insertarTareaResponse">
    <part name="parameters" element="tns:insertarTareaResponse" />
  </message>
  <message name="listarTareasPorTicket">
    <part name="parameters" element="tns:listarTareasPorTicket" />
  </message>
  <message name="listarTareasPorTicketResponse">
    <part name="parameters" element="tns:listarTareasPorTicketResponse" />
  </message>
  <message name="eliminarTareas">
    <part name="parameters" element="tns:eliminarTareas" />
  </message>
  <message name="eliminarTareasResponse">
    <part name="parameters" element="tns:eliminarTareasResponse" />
  </message>
  <message name="actualizarInsertarTareas">
    <part name="parameters" element="tns:actualizarInsertarTareas" />
  </message>
  <message name="actualizarInsertarTareasResponse">
    <part name="parameters" element="tns:actualizarInsertarTareasResponse" />
  </message>
  <portType name="TareaWS">
    <operation name="eliminarTarea">
      <input wsam:Action="http://services.tablesoft.pucp.edu.pe/TareaWS/eliminarTareaRequest" message="tns:eliminarTarea" />
      <output wsam:Action="http://services.tablesoft.pucp.edu.pe/TareaWS/eliminarTareaResponse" message="tns:eliminarTareaResponse" />
    </operation>
    <operation name="actualizarTarea">
      <input wsam:Action="http://services.tablesoft.pucp.edu.pe/TareaWS/actualizarTareaRequest" message="tns:actualizarTarea" />
      <output wsam:Action="http://services.tablesoft.pucp.edu.pe/TareaWS/actualizarTareaResponse" message="tns:actualizarTareaResponse" />
    </operation>
    <operation name="insertarTarea">
      <input wsam:Action="http://services.tablesoft.pucp.edu.pe/TareaWS/insertarTareaRequest" message="tns:insertarTarea" />
      <output wsam:Action="http://services.tablesoft.pucp.edu.pe/TareaWS/insertarTareaResponse" message="tns:insertarTareaResponse" />
    </operation>
    <operation name="listarTareasPorTicket">
      <input wsam:Action="http://services.tablesoft.pucp.edu.pe/TareaWS/listarTareasPorTicketRequest" message="tns:listarTareasPorTicket" />
      <output wsam:Action="http://services.tablesoft.pucp.edu.pe/TareaWS/listarTareasPorTicketResponse" message="tns:listarTareasPorTicketResponse" />
    </operation>
    <operation name="eliminarTareas">
      <input wsam:Action="http://services.tablesoft.pucp.edu.pe/TareaWS/eliminarTareasRequest" message="tns:eliminarTareas" />
      <output wsam:Action="http://services.tablesoft.pucp.edu.pe/TareaWS/eliminarTareasResponse" message="tns:eliminarTareasResponse" />
    </operation>
    <operation name="actualizarInsertarTareas">
      <input wsam:Action="http://services.tablesoft.pucp.edu.pe/TareaWS/actualizarInsertarTareasRequest" message="tns:actualizarInsertarTareas" />
      <output wsam:Action="http://services.tablesoft.pucp.edu.pe/TareaWS/actualizarInsertarTareasResponse" message="tns:actualizarInsertarTareasResponse" />
    </operation>
  </portType>
  <binding name="TareaWSPortBinding" type="tns:TareaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarTarea">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarTarea">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarTarea">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTareasPorTicket">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarTareas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarInsertarTareas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="TareaWS">
    <port name="TareaWSPort" binding="tns:TareaWSPortBinding">
      <soap:address location="http://23.22.97.25:8080/TableSoftServicesTest/TareaWS" />
    </port>
  </service>
</definitions>