tablesoft-net/TableSoft/TableSoft/Connected Services/EmailWS/EmailWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://pucp.edu.pe/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://pucp.edu.pe/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://pucp.edu.pe/">
      <s:element name="EnviarCorreo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="tns:YanapayEmail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="YanapayEmail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FromAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ToRecipients" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Body" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsHtml" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="EnviarCorreoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnviarCorreoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarCorreoString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="recipient" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarCorreoStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnviarCorreoStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EnviarCorreoSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarCorreo" />
  </wsdl:message>
  <wsdl:message name="EnviarCorreoSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarCorreoStringSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarCorreoString" />
  </wsdl:message>
  <wsdl:message name="EnviarCorreoStringSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarCorreoStringResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarCorreoStringHttpPostIn">
    <wsdl:part name="subject" type="s:string" />
    <wsdl:part name="body" type="s:string" />
    <wsdl:part name="recipient" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EnviarCorreoStringHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="EmailWSSoap">
    <wsdl:operation name="EnviarCorreo">
      <wsdl:input message="tns:EnviarCorreoSoapIn" />
      <wsdl:output message="tns:EnviarCorreoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreoString">
      <wsdl:input message="tns:EnviarCorreoStringSoapIn" />
      <wsdl:output message="tns:EnviarCorreoStringSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EmailWSHttpPost">
    <wsdl:operation name="EnviarCorreoString">
      <wsdl:input message="tns:EnviarCorreoStringHttpPostIn" />
      <wsdl:output message="tns:EnviarCorreoStringHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmailWSSoap" type="tns:EmailWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarCorreo">
      <soap:operation soapAction="http://pucp.edu.pe/EnviarCorreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreoString">
      <soap:operation soapAction="http://pucp.edu.pe/EnviarCorreoString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmailWSSoap12" type="tns:EmailWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarCorreo">
      <soap12:operation soapAction="http://pucp.edu.pe/EnviarCorreo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreoString">
      <soap12:operation soapAction="http://pucp.edu.pe/EnviarCorreoString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmailWSHttpPost" type="tns:EmailWSHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="EnviarCorreoString">
      <http:operation location="/EnviarCorreoString" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmailWS">
    <wsdl:port name="EmailWSSoap" binding="tns:EmailWSSoap">
      <soap:address location="http://23.22.97.25/TableSoftEmail/EmailWS.asmx" />
    </wsdl:port>
    <wsdl:port name="EmailWSSoap12" binding="tns:EmailWSSoap12">
      <soap12:address location="http://23.22.97.25/TableSoftEmail/EmailWS.asmx" />
    </wsdl:port>
    <wsdl:port name="EmailWSHttpPost" binding="tns:EmailWSHttpPost">
      <http:address location="http://23.22.97.25/TableSoftEmail/EmailWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>