tablesoft-net/TableSoft/TableSoft/Connected Services/RolWS/RolWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.tablesoft.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="RolWS" targetNamespace="http://services.tablesoft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://23.22.97.25:8080/TableSoftServicesTest/RolWS?xsd=1" namespace="http://services.tablesoft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarRol">
    <part name="parameters" element="tns:insertarRol" />
  </message>
  <message name="insertarRolResponse">
    <part name="parameters" element="tns:insertarRolResponse" />
  </message>
  <message name="actualizarRol">
    <part name="parameters" element="tns:actualizarRol" />
  </message>
  <message name="actualizarRolResponse">
    <part name="parameters" element="tns:actualizarRolResponse" />
  </message>
  <message name="listarRoles">
    <part name="parameters" element="tns:listarRoles" />
  </message>
  <message name="listarRolesResponse">
    <part name="parameters" element="tns:listarRolesResponse" />
  </message>
  <message name="eliminarRol">
    <part name="parameters" element="tns:eliminarRol" />
  </message>
  <message name="eliminarRolResponse">
    <part name="parameters" element="tns:eliminarRolResponse" />
  </message>
  <portType name="RolWS">
    <operation name="insertarRol">
      <input wsam:Action="http://services.tablesoft.pucp.edu.pe/RolWS/insertarRolRequest" message="tns:insertarRol" />
      <output wsam:Action="http://services.tablesoft.pucp.edu.pe/RolWS/insertarRolResponse" message="tns:insertarRolResponse" />
    </operation>
    <operation name="actualizarRol">
      <input wsam:Action="http://services.tablesoft.pucp.edu.pe/RolWS/actualizarRolRequest" message="tns:actualizarRol" />
      <output wsam:Action="http://services.tablesoft.pucp.edu.pe/RolWS/actualizarRolResponse" message="tns:actualizarRolResponse" />
    </operation>
    <operation name="listarRoles">
      <input wsam:Action="http://services.tablesoft.pucp.edu.pe/RolWS/listarRolesRequest" message="tns:listarRoles" />
      <output wsam:Action="http://services.tablesoft.pucp.edu.pe/RolWS/listarRolesResponse" message="tns:listarRolesResponse" />
    </operation>
    <operation name="eliminarRol">
      <input wsam:Action="http://services.tablesoft.pucp.edu.pe/RolWS/eliminarRolRequest" message="tns:eliminarRol" />
      <output wsam:Action="http://services.tablesoft.pucp.edu.pe/RolWS/eliminarRolResponse" message="tns:eliminarRolResponse" />
    </operation>
  </portType>
  <binding name="RolWSPortBinding" type="tns:RolWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarRol">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarRol">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarRoles">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarRol">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="RolWS">
    <port name="RolWSPort" binding="tns:RolWSPortBinding">
      <soap:address location="http://23.22.97.25:8080/TableSoftServicesTest/RolWS" />
    </port>
  </service>
</definitions>