tablesoft-net/TableSoft/TableSoft/Connected Services/ProveedorWS/ProveedorWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.tablesoft.pucp.edu.pe/" targetNamespace="http://services.tablesoft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarProveedor" type="tns:actualizarProveedor" />
  <xs:element name="actualizarProveedorResponse" type="tns:actualizarProveedorResponse" />
  <xs:element name="eliminarProveedor" type="tns:eliminarProveedor" />
  <xs:element name="eliminarProveedorResponse" type="tns:eliminarProveedorResponse" />
  <xs:element name="insertarProveedor" type="tns:insertarProveedor" />
  <xs:element name="insertarProveedorResponse" type="tns:insertarProveedorResponse" />
  <xs:element name="listarProveedores" type="tns:listarProveedores" />
  <xs:element name="listarProveedoresPorNombre" type="tns:listarProveedoresPorNombre" />
  <xs:element name="listarProveedoresPorNombreResponse" type="tns:listarProveedoresPorNombreResponse" />
  <xs:element name="listarProveedoresResponse" type="tns:listarProveedoresResponse" />
  <xs:complexType name="listarProveedores">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarProveedoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="proveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="ciudad" type="tns:ciudad" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="proveedorId" type="xs:int" />
      <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
      <xs:element minOccurs="0" name="ruc" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ciudad">
    <xs:sequence>
      <xs:element name="ciudadId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="pais" type="tns:pais" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pais">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="paisId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="objProveedor" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarProveedorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="objProveedor" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarProveedorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProveedoresPorNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProveedoresPorNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="objProveedor" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarProveedorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>