tablesoft-net/TableSoft/TableSoft/Connected Services/ProveedorWS/ProveedorWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.tablesoft.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ProveedorWS" targetNamespace="http://services.tablesoft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://23.22.97.25:8080/TableSoftServicesTest/ProveedorWS?xsd=1" namespace="http://services.tablesoft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="actualizarProveedor">
    <part name="parameters" element="tns:actualizarProveedor" />
  </message>
  <message name="actualizarProveedorResponse">
    <part name="parameters" element="tns:actualizarProveedorResponse" />
  </message>
  <message name="insertarProveedor">
    <part name="parameters" element="tns:insertarProveedor" />
  </message>
  <message name="insertarProveedorResponse">
    <part name="parameters" element="tns:insertarProveedorResponse" />
  </message>
  <message name="eliminarProveedor">
    <part name="parameters" element="tns:eliminarProveedor" />
  </message>
  <message name="eliminarProveedorResponse">
    <part name="parameters" element="tns:eliminarProveedorResponse" />
  </message>
  <message name="listarProveedores">
    <part name="parameters" element="tns:listarProveedores" />
  </message>
  <message name="listarProveedoresResponse">
    <part name="parameters" element="tns:listarProveedoresResponse" />
  </message>
  <message name="listarProveedoresPorNombre">
    <part name="parameters" element="tns:listarProveedoresPorNombre" />
  </message>
  <message name="listarProveedoresPorNombreResponse">
    <part name="parameters" element="tns:listarProveedoresPorNombreResponse" />
  </message>
  <portType name="ProveedorWS">
    <operation name="actualizarProveedor">
      <input wsam:Action="http://services.tablesoft.pucp.edu.pe/ProveedorWS/actualizarProveedorRequest" message="tns:actualizarProveedor" />
      <output wsam:Action="http://services.tablesoft.pucp.edu.pe/ProveedorWS/actualizarProveedorResponse" message="tns:actualizarProveedorResponse" />
    </operation>
    <operation name="insertarProveedor">
      <input wsam:Action="http://services.tablesoft.pucp.edu.pe/ProveedorWS/insertarProveedorRequest" message="tns:insertarProveedor" />
      <output wsam:Action="http://services.tablesoft.pucp.edu.pe/ProveedorWS/insertarProveedorResponse" message="tns:insertarProveedorResponse" />
    </operation>
    <operation name="eliminarProveedor">
      <input wsam:Action="http://services.tablesoft.pucp.edu.pe/ProveedorWS/eliminarProveedorRequest" message="tns:eliminarProveedor" />
      <output wsam:Action="http://services.tablesoft.pucp.edu.pe/ProveedorWS/eliminarProveedorResponse" message="tns:eliminarProveedorResponse" />
    </operation>
    <operation name="listarProveedores">
      <input wsam:Action="http://services.tablesoft.pucp.edu.pe/ProveedorWS/listarProveedoresRequest" message="tns:listarProveedores" />
      <output wsam:Action="http://services.tablesoft.pucp.edu.pe/ProveedorWS/listarProveedoresResponse" message="tns:listarProveedoresResponse" />
    </operation>
    <operation name="listarProveedoresPorNombre">
      <input wsam:Action="http://services.tablesoft.pucp.edu.pe/ProveedorWS/listarProveedoresPorNombreRequest" message="tns:listarProveedoresPorNombre" />
      <output wsam:Action="http://services.tablesoft.pucp.edu.pe/ProveedorWS/listarProveedoresPorNombreResponse" message="tns:listarProveedoresPorNombreResponse" />
    </operation>
  </portType>
  <binding name="ProveedorWSPortBinding" type="tns:ProveedorWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="actualizarProveedor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarProveedor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarProveedor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProveedores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProveedoresPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ProveedorWS">
    <port name="ProveedorWSPort" binding="tns:ProveedorWSPortBinding">
      <soap:address location="http://23.22.97.25:8080/TableSoftServicesTest/ProveedorWS" />
    </port>
  </service>
</definitions>