tablesoft-net/TableSoft/TableSoft/Connected Services/ReporteWS/ReporteWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.tablesoft.pucp.edu.pe/" targetNamespace="http://services.tablesoft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="generarReporteTickets" type="tns:generarReporteTickets" />
  <xs:element name="generarReporteTicketsResponse" type="tns:generarReporteTicketsResponse" />
  <xs:complexType name="generarReporteTickets">
    <xs:sequence>
      <xs:element name="idTicket" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReporteTicketsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>