tablesoft-net/TableSoft/TableSoft/Connected Services/CategoriaWS/CategoriaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.tablesoft.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="CategoriaWS" targetNamespace="http://services.tablesoft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://23.22.97.25:8080/TableSoftServicesTest/CategoriaWS?xsd=1" namespace="http://services.tablesoft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarCategorias">
    <part name="parameters" element="tns:listarCategorias" />
  </message>
  <message name="listarCategoriasResponse">
    <part name="parameters" element="tns:listarCategoriasResponse" />
  </message>
  <message name="actualizarCategoria">
    <part name="parameters" element="tns:actualizarCategoria" />
  </message>
  <message name="actualizarCategoriaResponse">
    <part name="parameters" element="tns:actualizarCategoriaResponse" />
  </message>
  <message name="insertarCategoria">
    <part name="parameters" element="tns:insertarCategoria" />
  </message>
  <message name="insertarCategoriaResponse">
    <part name="parameters" element="tns:insertarCategoriaResponse" />
  </message>
  <message name="listarCategoriasPorEquipo">
    <part name="parameters" element="tns:listarCategoriasPorEquipo" />
  </message>
  <message name="listarCategoriasPorEquipoResponse">
    <part name="parameters" element="tns:listarCategoriasPorEquipoResponse" />
  </message>
  <message name="listarCategoriasDisponibles">
    <part name="parameters" element="tns:listarCategoriasDisponibles" />
  </message>
  <message name="listarCategoriasDisponiblesResponse">
    <part name="parameters" element="tns:listarCategoriasDisponiblesResponse" />
  </message>
  <message name="listarCategoriasPorNombre">
    <part name="parameters" element="tns:listarCategoriasPorNombre" />
  </message>
  <message name="listarCategoriasPorNombreResponse">
    <part name="parameters" element="tns:listarCategoriasPorNombreResponse" />
  </message>
  <message name="eliminarCategoria">
    <part name="parameters" element="tns:eliminarCategoria" />
  </message>
  <message name="eliminarCategoriaResponse">
    <part name="parameters" element="tns:eliminarCategoriaResponse" />
  </message>
  <portType name="CategoriaWS">
    <operation name="listarCategorias">
      <input wsam:Action="http://services.tablesoft.pucp.edu.pe/CategoriaWS/listarCategoriasRequest" message="tns:listarCategorias" />
      <output wsam:Action="http://services.tablesoft.pucp.edu.pe/CategoriaWS/listarCategoriasResponse" message="tns:listarCategoriasResponse" />
    </operation>
    <operation name="actualizarCategoria">
      <input wsam:Action="http://services.tablesoft.pucp.edu.pe/CategoriaWS/actualizarCategoriaRequest" message="tns:actualizarCategoria" />
      <output wsam:Action="http://services.tablesoft.pucp.edu.pe/CategoriaWS/actualizarCategoriaResponse" message="tns:actualizarCategoriaResponse" />
    </operation>
    <operation name="insertarCategoria">
      <input wsam:Action="http://services.tablesoft.pucp.edu.pe/CategoriaWS/insertarCategoriaRequest" message="tns:insertarCategoria" />
      <output wsam:Action="http://services.tablesoft.pucp.edu.pe/CategoriaWS/insertarCategoriaResponse" message="tns:insertarCategoriaResponse" />
    </operation>
    <operation name="listarCategoriasPorEquipo">
      <input wsam:Action="http://services.tablesoft.pucp.edu.pe/CategoriaWS/listarCategoriasPorEquipoRequest" message="tns:listarCategoriasPorEquipo" />
      <output wsam:Action="http://services.tablesoft.pucp.edu.pe/CategoriaWS/listarCategoriasPorEquipoResponse" message="tns:listarCategoriasPorEquipoResponse" />
    </operation>
    <operation name="listarCategoriasDisponibles">
      <input wsam:Action="http://services.tablesoft.pucp.edu.pe/CategoriaWS/listarCategoriasDisponiblesRequest" message="tns:listarCategoriasDisponibles" />
      <output wsam:Action="http://services.tablesoft.pucp.edu.pe/CategoriaWS/listarCategoriasDisponiblesResponse" message="tns:listarCategoriasDisponiblesResponse" />
    </operation>
    <operation name="listarCategoriasPorNombre">
      <input wsam:Action="http://services.tablesoft.pucp.edu.pe/CategoriaWS/listarCategoriasPorNombreRequest" message="tns:listarCategoriasPorNombre" />
      <output wsam:Action="http://services.tablesoft.pucp.edu.pe/CategoriaWS/listarCategoriasPorNombreResponse" message="tns:listarCategoriasPorNombreResponse" />
    </operation>
    <operation name="eliminarCategoria">
      <input wsam:Action="http://services.tablesoft.pucp.edu.pe/CategoriaWS/eliminarCategoriaRequest" message="tns:eliminarCategoria" />
      <output wsam:Action="http://services.tablesoft.pucp.edu.pe/CategoriaWS/eliminarCategoriaResponse" message="tns:eliminarCategoriaResponse" />
    </operation>
  </portType>
  <binding name="CategoriaWSPortBinding" type="tns:CategoriaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarCategorias">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarCategoria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCategoria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCategoriasPorEquipo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCategoriasDisponibles">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCategoriasPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCategoria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CategoriaWS">
    <port name="CategoriaWSPort" binding="tns:CategoriaWSPortBinding">
      <soap:address location="http://23.22.97.25:8080/TableSoftServicesTest/CategoriaWS" />
    </port>
  </service>
</definitions>